<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/static/right_arror.png" download="right_arror.png">hello</a>
<button onclick="downloadPic()">saasa</button>
</body>
<script>
    function downloadPic () {
        let imgSrc= 'http://47.97.67.235/www/vc1_min.png'
        let x = new XMLHttpRequest()
        x.open('GET', imgSrc, true)
        x.responseType = 'blob'
        x.onload = function () {
            let url = window.URL.createObjectURL(x.response)
            let a = document.createElement('a')
            a.href = url
            a.download = 'download';
            a.click()
        }
        x.send()
    }
</script>
</html>