<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    /*audio::-webkit-media-controls-timeline{*/
    /*    background-color: red;*/
    /*}*/
    audio{
        width: 100%;
    }
</style>
<body>
    <form action="/setPic" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
    <img src="http://47.97.67.235/www/1111.png">
    <br>
    <div class="btn-audio">
        <audio controls="controls" loop="loop">
            <source src="http://m801.music.126.net/20220916113330/c8fdc3bad9df17f7e71330f96183d06c/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/14765779588/231d/156e/624a/1e58e946cae730b89274f6d3d619de9e.mp3" type="audio/mp3"></source>
        </audio>
    </div>
</body>
</html>