<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
    <script src="/static/toastr.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/toastr.css" rel="stylesheet" />
    <style>
        .table-striped{
            width: 500px;
        }
        #pageNum{
            width: 40px;
        }
        #bottom{
            display: flex;
        }
        #picHead{
            width: 800px;
            margin-left: 50px;
        }
        #pic{
            height: 100px;
        }
        .warn{
            display: none;
        }
        .bigImg{
            display: none;
        }
        #testImg{
            margin-left: -440px;
        }
        .navbar-header{
           display: flex;
           align-items: center;
        }
        .img-responsive{
            width:60px;
            height:60px;
            border-radius:50%;
            border: 5px solid white;
        }
        .invisible{
            display: none;
        }
    </style>
</head>
<body>
<div class="invisible alert alert-danger" role="alert" id="jurisdictionAlert">
    游客无权查看更改账号信息！（点击可隐藏此提示框）
</div>
<nav class="navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <figure class="dropdown" style="width: 60px;height: 60px">
                    <img class="img-responsive" th:src="${user.head}"  alt="头像显示失败"/>
                    <div class="dropdown-menu" style="min-width: unset">
                    <!--            通过设置padding来控制每个子标签的大小和文字位置-->
                    <a class="dropdown-item" style="padding: 4px 10px 4px 10px;" href="/weather/goCore" target="_blank">个人中心</a>
                    <a class="dropdown-item " style="padding: 4px 10px 4px 10px;" href="#">账号与安全中心</a>
                    <a class="dropdown-item "  style="padding: 4px 10px 4px 10px;" href="#">设置</a>
                    <a class="dropdown-item "  style="padding: 4px 10px 4px 10px;" href="/core/gotoLogin">退出登录</a>
                    </div>
            </figure>
            <p style="margin-top: 5px">欢迎用户：<span style="color: cornflowerblue" th:text="${user.username}"></span>登录</p>
        </div>
    </div>
</nav>
<div id="warnAlert" class="warn">
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            当前城市不在返回内,加QQ群：608222884，反馈问题(点击隐藏提示框)。
        </div>
    </div>
</div>
<br>
<form class="row g-3" action="/weather/index" method="post">
    <div class="col-auto">
        <input type="text" class="form-control" id="inputPassword2" placeholder="请输入城市名" name="cityName" th:value="${cityName}">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">搜索</button>
    </div>
</form>
<div id="bottom">
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <td>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>城市编号</td>
            <td>城市名称</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city,c:${pageInfo.list}">
            <td th:text="${c.index+1}"></td>
            <td th:text="${city.cityCode}"></td>
            <td th:text="${city.cityName}"></td>
            <td><a class="sky" href="#">查看天气</a></td>
        </tr>
        </tbody>
    </table>
    <div class="row" id="picHead">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img id="pic" src="https://img0.baidu.com/it/u=3635528332,3174955878&fm=253&fmt=auto&app=120&f=JPEG?w=1422&h=800" alt="没图片的立马联系我">
                <div class="caption">
                    <p><span>当前位置: </span><span style="color: red" th:text="${provinceCity}"></span></p>
                    <p><span>城市： </span><span style="color: green" id="citys"></span></p>
                    <p><span>在此选择日期：</span><input type="date" id="date"><input type="hidden" id="cityCode"></p>
                    <p><span>时间： </span><span id="time"></span></p>
                    <p><span>温度： </span><span id="tem"></span></p>
                    <p><span>天气： </span><span id="sky"></span></p>
                    <p><span>提醒： </span><span id="remind"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="bigImg" id="testImg">
        <h5 style="color: deepskyblue">雨天也要活力满满，送你一个晴天娃娃！</h5>
        <img style="height: 220px;width: 240px;" src="https://img0.baidu.com/it/u=3409142723,1214178817&fm=253&fmt=auto&app=138&f=JPEG?w=350&h=350">
    </div>
</div>
<input type="hidden" id="isFirst" th:value="${pageInfo.isFirstPage}">
<input type="hidden" id="isLast" th:value="${pageInfo.isLastPage}">
<input type="hidden" id="jurisdiction" th:value="${user.id}">
<div>
    <ul class="pagination">
        <li><a th:href="${'/weather/index?pageNum=1'+'&cityName='+cityName}">首页</a></li>
        <li><a id="pre" th:href="${'/weather/index?pageNum='+((pageInfo.pageNum)-1)+'&cityName='+cityName}">«</a></li>
        <li th:if="${pageInfo.pageNum>2}"><a th:href="${'/weather/index?pageNum='+((pageInfo.pageNum)-2)+'&cityName='+cityName}" th:text="${(pageInfo.pageNum)-2}" class="page"></a></li>
        <li th:if="${pageInfo.pageNum>1}"><a th:href="${'/weather/index?pageNum='+((pageInfo.pageNum)-1)+'&cityName='+cityName}" th:text="${(pageInfo.pageNum)-1}" class="page"></a></li>
        <li class="active"><a th:href="${'/weather/index?pageNum='+pageInfo.pageNum+'&cityName='+cityName}" th:text="${pageInfo.pageNum}" class="page"></a></li>
        <li th:if="${pageInfo.pages>1} and ${pageInfo.pageNum+1<=pageInfo.pages}"><a th:href="${'/weather/index?pageNum='+(pageInfo.pageNum+1)+'&cityName='+cityName}" th:text="${pageInfo.pageNum+1}" class="page"></a></li>
        <li th:if="${pageInfo.pages>2} and ${pageInfo.pageNum+2<=pageInfo.pages}"><a th:href="${'/weather/index?pageNum='+(pageInfo.pageNum+2)+'&cityName='+cityName}" th:text="${pageInfo.pageNum+2}" class="page"></a></li>
        <li><a id="next" th:href="${'/weather/index?pageNum='+(pageInfo.pageNum+1)+'&cityName='+cityName}">»</a></li>
        <li><a th:href="${'/weather/index?pageNum='+pageInfo.pages+'&cityName='+cityName}">尾页</a></li>
    </ul>
</div>
</body>
<script>
    toastr.options.positionClass = 'toast-top-right';
    //禁止右键菜单
    // document.oncontextmenu =function (eve){
    //     var e=eve||window.event;
    //     e.returnValue = false|| e.preventDefault();
    // }
    //禁止选中文字
    document.onselectstart =function(){
        return false;
    };
    function getSky(rs) {
        $("#citys").text(rs.city);
        $("#time").text(rs.time);
        $("#tem").text(rs.temperature);
        $("#sky").text(rs.weather);
        $("#remind").text(rs.remind);
        $("#cityCode").val(rs.cityCode);
        $("#testImg").addClass("bigImg");
        $("#pic").attr("src","")
        if (rs.sky=="晴"){
            $("#pic").attr("src","https://img2.baidu.com/it/u=2768001801,3133762888&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281");
        }else if (rs.sky=="阴"){
            $("#pic").attr("src","https://img2.baidu.com/it/u=1376250739,3512301388&fm=253&fmt=auto&app=138&f=JPEG?w=1080&h=497");
        }else if (rs.sky=="多云"){
            $("#pic").attr("src","https://img2.baidu.com/it/u=2249662552,4266885023&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=332");
        }else if (rs.sky=="小雨"){
            $("#pic").attr("src","https://img0.baidu.com/it/u=1327457392,387821644&fm=253&fmt=auto&app=138&f=JPEG?w=657&h=500");
            $("#testImg").removeClass("bigImg");
        }else if (rs.sky=="中雨"){
            $("#pic").attr("src","https://img0.baidu.com/it/u=2640542919,1753677285&fm=253&fmt=auto&app=138&f=JPEG?w=549&h=412");
            $("#testImg").removeClass("bigImg");
        }else if (rs.sky=="霾"){
            $("#pic").attr("src","https://pic.rmb.bdstatic.com/1dc7f4c99de36a2838978787465e9d9c.png");
        }else if (rs.sky=="大雨") {
            $("#pic").attr("src", "https://pics7.baidu.com/feed/0df3d7ca7bcb0a46441b208259f44b226a60afea.jpeg");
            $("#testImg").removeClass("bigImg");
        }
        console.log(rs.sky);
    }
    $(function () {
        var isFirst=$("#isFirst").val();
        var isLast=$("#isLast").val();
        if (isFirst=="true"){
            $('#pre').attr('disabled',true).css("pointer-events","none").css("color","#C0C0C0");
        }
        if (isLast=="true"){
            $('#next').attr('disabled',true).css("pointer-events","none").css("color","#C0C0C0");
        }
        $(".sky").click(function () {
            var cityCode= $(this).parent().prev().prev().text();
            $("#warnAlert").addClass("warn");
            $.ajax({
                type:"POST",
                data:{"cityCode":cityCode},
                url:"/weather/getSky",
                success:function (rs) {
                    $("#date").val("");
                    getSky(rs);
                },
                error:function () {
                    $("#warnAlert").removeClass("warn");
                }
            })
        })
        $("#warnAlert").click(function () {
            $(this).addClass("warn");
        })

        $('.dropdown').mouseover(function(){
            if (document.getElementById("jurisdiction").value=="404"){
                $("#jurisdictionAlert").removeClass('invisible');
            }else {
                $(this).addClass('show');
                $(this).find(".dropdown-menu").addClass('show');
            }
            }).mouseout(function(){
                $(this).find(".dropdown-menu").removeClass('show');
                $(this).removeClass('show');
        });
        $("#jurisdictionAlert").click(function () {
            $("#jurisdictionAlert").addClass('invisible');
        });
        $("#date").change(function () {
            var selectDay= $(this).val();
            var date = new Date();
            var today=date.toLocaleDateString();
            console.log(today-selectDay);
        });
        $("#date").change(function () {
            var cityCode=$("#cityCode").val();
            var a= $(this).val().replace(/\-/g, "/");
            var selectDay=new Date(a);
            var date = new Date();
            var b=date.toLocaleDateString();
            var today=new Date(b);
            var apart=(-((today.getTime()-selectDay.getTime())/parseInt(1000 * 3600 * 24))|0);
            if (apart>5){
                toastr.warning("查询日期不能超过当前日期的五天之后！");
            }else if (apart<-1) {
                toastr.warning("查询日期不能在昨天之前！");
            }else {
                $.ajax({
                    type:"POST",
                    data:{"apart":apart,"cityCode":cityCode},
                    url:"/weather/getSky",
                    success:function (rs) {
                        $("#date").val("");
                        getSky(rs);
                    },
                    error:function () {
                        toastr.warning("请先选择城市再更改日期！");
                    }
                })
            }
        })
    })
</script>
</html>