<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/static/toastr.js"></script>
    <script src="/static/register.js"></script>
    <script src="/static/jquery-2.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/toastr.css" rel="stylesheet" />
</head>
<style>
    #h-btn{
        display:inline-block;
        /*border:1px solid red;*/
        width:30px;
        height:33px;
        position:absolute;
        right:2px;
        z-index:100;
        cursor: pointer;"
    }
    /*将number的按钮去掉*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
</style>
<body>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog"><!--role的作用是描述一个非标准的tag的实际作用。比如用div做button，那么设置div 的 role=“button”，辅助工具就可以认出这实际上是个button-->
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true" style="display: block; margin-right: 20px;">&times;</span> <!-- aria-hidden="true" 没有什么作用（有没有都无所谓） -->
            </button>
            <h4 class="modal-title" id="myModallabel" style="font-family: 宋体; font-size: 20px; font-weight: 800; margin-left: 10px; margin-top: 10px;">欢迎注册</h4>
            <div class="modal-body">
                <form class="form-group" role="form" action="/core/newUser" method="post">
                    <div class="form-group input-group has-info has-feedback">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入帐号"/>
                        <span id="u_remove" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span id="h-btn" title="清除帐号"></span>
                    </div>
                    <div class="form-group input-group has-info has-feedback">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" id="pwd" class="form-control" name="password" placeholder="请输入密码" />
                        <span id="eye" class="glyphicon glyphicon-eye-open form-control-feedback"></span>
                        <span id="h-btn" title="查看" ></span>
                    </div>
                    <div class="form-group input-group has-info has-feedback">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" id="pwd2" class="form-control" placeholder="请再次输入密码" />
                        <span id="eye2" class="glyphicon glyphicon-eye-open form-control-feedback"></span>
                        <span id="h-btn" title="查看二次密码" ></span>
                    </div>
                    <div class="form-group input-group has-info has-feedback">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
<!--                        <input id="phone" type="number" class="form-control" name="phone" placeholder="请输入正确的11位手机号" />-->
                        <input id="phone" type="text" class="form-control" name="email" placeholder="请输入正确的邮箱地址">
                    </div>
                    <div class="form-group input-group has-info has-feedback">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <div style="display: flex">
                            <input type="text" id="code" class="form-control" name="code" placeholder="请输入信息验证码" />
                            <button type="button" id="verifyBtn" class="btn btn-primary" style="background-color: green">免费获取验证码</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">                        <!-- data-dismiss="modal" 关闭外层modal -->
                <button type="button" id="reg_btn" class="btn btn-primary">注册</button>
                <button type="button" class="close btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    toastr.options.positionClass = 'toast-top-right';
    function maileSend(mail) {
        $.ajax({
            url: "/core/email",
            data: {"emailNum":mail},
            type: "POST",
            success: function () {
                toastr.info("验证码发送成功，注意查收！（验证码5分钟内有效）");
            },
            error: function () {
                toastr.error("验证码发送失败，请核查填写的邮箱！");
            }
        });
    }
    $(".close").click(function () {
        $("#exampleModal").css("display","none");
    })
    function checkPhone(phone) {
        var check = /^[1][3,4,5,6,7,8][0-9]{9}$/;
        if(!check.test(phone)){
            return false;
        }else {
            return true;
        }
    }
    function checkEmail(email) {
        var check=/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
        if (!check.test(email)){
            return false;
        }else {
            return true;
        }
    }
    // checkPhone($("#phone").val())
    $("#verifyBtn").click(function () {
        if(checkEmail($("#phone").val())){//号码正确才可点击按钮
            var mail=$("#phone").val();
            $("#verifyBtn").attr('disabled', true);
            var count=60;
            var countdown=setInterval(CountDown,1000);
            function CountDown() {
                $("#verifyBtn").text(count);
                if (count==0){
                    $("#verifyBtn").text("免费获取验证码").removeAttr("disabled");
                    clearInterval(countdown);
                }
                count--;
            }
            maileSend(mail);
        }else {
            toastr.warning("邮箱格式填写有误！");
        }
    })
    $("#reg_btn").click(function(){
        var username=$("#username").val().trim();
        var pwd = $("#pwd").val().trim();
        var pwd2 = $("#pwd2").val().trim();
        var phone=$("#phone").val().trim();
        var code=$("#code").val().trim();
        var prs= checkEmail(phone);
        var user = {
            id:null,
            username:username,
            password:pwd,
            head:"",
            email:phone
        }
        if(pwd == pwd2&&pwd!=""&&pwd2!=""&&username!=""&&prs==true&&code!=""){
            $.ajax({
                contentType:"application/json;charset=UTF-8",
                url: "/core/newUser?code="+code,
                data: JSON.stringify(user),
                // dataType:"json",
                type: "POST",
                success: function (rs) {
                    if (rs=="true"){
                        var state="register";
                        document.write("<form action='/core/gotoLogin' method='post' name='subLogin' style='display:none'>");
                        document.write("<input type='hidden' name='rs' value="+state+">");
                        document.write("</form>");
                        document.subLogin.submit();
                    }else {
                        toastr.warning(rs);
                    }
                },
                error: function () {
                    toastr.error("注册出错啦！");
                }
            })
        }else{
            if (pwd!=pwd2){
                toastr.warning("两次密码不相同，请核对后再提交！");
            }else if (pwd==""||pwd2==""){
                toastr.warning("密码不可为空");
            }else if (username==""){
                toastr.warning("用户名不能为空");
            }else if (prs==false){
                toastr.warning("邮箱格式错误");
            }else if (code==""){
                toastr.warning("验证码不能为空");
            }
        }
    });
</script>
</html>