<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码重置</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/static/jquery-2.1.1.min.js"></script>
<script src="/static/toastr.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="/static/toastr.css" rel="stylesheet"/>
<body>
<div class="container">
    <div class="row row-centered" style="text-align: center">
        <h2>密码重置</h2>
        <form class="form-horizontal" action="resetPwd" method="post">
            <div class="form-group has-feedback">
                <label class="control-label sr-only">用户名</label>
                <div class="col-xs-4 col-xs-offset-4">
                    <input type="text" class="form-control" name="username" id="username" value="" placeholder="请输入用户名" required/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label sr-only">密码</label>
                <div class="col-xs-4 col-xs-offset-4">
                    <input class="form-control" type="password" name="password" id="pwd1" value="" placeholder="请输入密码" required/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label sr-only">确认密码</label>
                <div class="col-xs-4 col-xs-offset-4">
                    <input class="form-control" type="password" id="pwd2" value="" placeholder="再次输入密码" required/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label sr-only">邮箱</label>
                <div class="col-xs-4 col-xs-offset-4">
                    <input class="form-control" type="text" name="email" id="phone" value="" placeholder="请输入正确的邮箱" required/>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label sr-only">发送验证码</label>
                <div class="col-xs-4 col-xs-offset-4">
                    <div style="display: flex">
                        <input type="text" id="code" class="form-control" name="code" placeholder="请输入验证码" required/>
                        <button type="button" id="getCode" class="btn btn-primary" style="background-color: green">免费获取验证码</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-4">
                <button type="button" class="btn btn-success btn-block" id="updateBtn">确认修改</button>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-success btn-block" id="returnLogin">返回</button>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    toastr.options.positionClass = 'toast-top-right';
    function maileSend(mail) {
        $.ajax({
            url: "/verif/getEmailCode",
            data: {"emailNum":mail},
            type: "POST",
            success: function () {
                toastr.info("验证码发送成功，注意查收！（验证码3分钟内有效）");
            },
            error: function () {
                toastr.error("验证码发送失败，请核查填写的邮箱！");
            }
        });
    }
    function checkEmail(email) {
        var check=/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
        if (!check.test(email)){
            return false;
        }else {
            return true;
        }
    }
    $("#returnLogin").click(function () {
        location.href='/core/gotoLogin';
    })
    $("#getCode").click(function () {
        if(checkEmail($("#phone").val())){//号码正确才可点击按钮
            var mail=$("#phone").val();
            $("#getCode").attr('disabled', true);
            var count=60;
            var countdown=setInterval(CountDown,1000);
            function CountDown() {
                $("#getCode").text(count);
                if (count==0){
                    $("#getCode").text("免费获取验证码").removeAttr("disabled");
                    clearInterval(countdown);
                }
                count--;
            }
            maileSend(mail);
        }else {
            toastr.warning("邮箱格式填写有误！");
        }
    })
    $("#updateBtn").click(function () {
        var username=$("#username").val().trim();
        var pwd1=$("#pwd1").val().trim();
        var pwd2=$("#pwd2").val().trim();
        var eamil=$("#phone").val().trim();
        var code=$("#code").val().trim();
        var prs= checkEmail(eamil);
        var user = {
            id:null,
            username:username,
            password:pwd1,
            head:"",
            email:eamil
        }
        if (pwd1 == pwd2&&pwd1!=""&&pwd2!=""&&username!=""&&prs==true&&code!=""){
            $.ajax({
                contentType:"application/json;charset=UTF-8",
                url: "/verif/resetPwd?code="+code,
                data: JSON.stringify(user),
                type: "POST",
                success: function (rs) {
                    if (rs=="true"){
                        var state="reset";
                        document.write("<form action='/core/gotoLogin' method='post' name='subLogin' style='display:none'>");
                        document.write("<input type='hidden' name='rs' value="+state+">");
                        document.write("</form>");
                        document.subLogin.submit();
                    }else {
                        toastr.warning(rs);
                    }
                },
                error: function () {
                    toastr.error("重置出错啦！");
                }
            })
        }else {
            if (pwd1!=pwd2){
                toastr.warning("两次密码输入不一致");
            }else if (pwd1==""||pwd2==""){
                toastr.warning("密码不能为空");
            }else if (username==""){
                toastr.warning("用户名不能为空");
            }else if (prs==false){
                toastr.warning("邮箱格式错误");
            }else if (code==""){
                toastr.warning("验证码不能为空");
            }
        }
    })
</script>
</html>