<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/static/jquery-2.1.1.min.js"></script>
<script src="/static/toastr.js"></script>
<link href="/static/toastr.css" rel="stylesheet" />
<style>
    th{
        padding: 10px;
    }
    td{
        padding: 10px;
    }
</style>
<body>
    <button onclick="toExcel()">HtmlToExcel</button>
    <button onclick="getMsg()">test</button>
    <table border="1" style="border-collapse: collapse">
        <tr style="background-color: #99CCFF">
            <th id="test">表头一</th>
            <th>表头二</th>
            <th>表头三</th>
            <th>表头四</th>
            <th>表头五</th>
        </tr>
        <tr>
            <td>内容一</td>
            <td>内容二</td>
            <td>内容三</td>
            <td>内容四</td>
            <td>内容五</td>
        </tr>
    </table>
</body>
<script>
    toastr.options.positionClass = 'toast-top-right';
    let str = "model.html";
    function getRandom() {//定义一个变量用来存储自动生成的12位数字
        let time=new Date();//获取当前时间
        str = time.getFullYear() + "" + (time.getMonth()+1) + "" + time.getDate() + "";//中间+""不要省略，不然无法字符串拼接
        for (let i = 0; i < 4; i++) {//循环生成4位随机数
            str += Math.round(Math.random() * 9);//round：四舍五入  random：随机生成0-1之间的数
        }
    }
    function toExcel() {
        let bodyMsg=document.documentElement.outerHTML;
        $.ajax({
            type : "post",
            url : "/html/setHTML",
            data:{"htmlBody":bodyMsg},
            success : function () {
                console.log("页面保存成功");
                downloadExcel();
            },
            error : function () {
                console.log("页面保存失败");
            }
        });
    }
    function downloadExcel() {
        $.ajax({
            type : "post",
            url : "/html/excel",
            data:{"htmlName":str},
            success : function(data) {
                toastr.success("转换成功！");
                let a = document.createElement('a');
                a.href = "/soutExcel/"+data;
                a.download = data;
                a.click();
            },
            error : function(){
                toastr.error("转换失败！");
            }
        });
    }
    function getMsg() {
        $.ajax({
            type : "post",
            url : "/html/test",
            data:{},
            success : function(data) {
                $("#test").text(data);
            },
            error : function(){

            }
        });
        location.href.html
    }
</script>
</html>